body{
    background-color:#000000;
    color:#FFFFFF;
}

.navbar-default {
    background-color:#000000;
    border-color:#101010;
}

.start {
    background-color:#4C0000;
    color:#FFFFFF;
}

.intro{
    position: relative;
    margin: 50px; !important
}