{% load staticfiles %}
<html>
  <head>
    <link rel="icon" type="image/jpg" href="{% static 'shared/img/icon.jpg' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Replay Value">
    <title>Replay Value</title>
    
    <!--- Bootstrap + custom css -->
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet'>
    <link href='/static/css/base.css' rel='stylesheet'>
    
    {% block owncss %}
    {% endblock owncss %}
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">Replay Value</a>
	</div>
	
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       	  <ul class="nav navbar-nav navbar-right">
	    {% if user.is_authenticated %}
            <li><a href="#">Map</a></li>
            <li><a href="#">Friends</a></li>
	    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" <span class="caret">Settings</span></a>
              <ul class="dropdown-menu">
		<li><a href="#">Privacy Settings</a></li>
		<li><a href="#">Premium Membership lol</a></li>
		<li><a href="#">About</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="#">Logout</a></li>
              </ul>
            </li>
            {% endif %}
            {% if not user.is_authenticated %}
            <li><a href="login">Login</a></li>
	    {% endif %}
          </ul>
	</div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    {% block content %}
    
    <p>This is Default content</p>
    {% endblock content %}

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>

    {% block ownjavascript %}
    {% endblock ownjavascript %}

  </body>
</html>
