{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<link href="/static/css/friends.css" rel="stylesheet">

<div class="friends">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
	<img src=https://pbs.twimg.com/profile_images/3742547688/b8c07bc4fd9a92335e3381d4cc2cef38_400x400.png class="alignleft" style="width:45px;height:45px;margin-right:10px;">
	{{ user.username }}
	<br>
	{% if pendingfriends_cnt == 0 %}
	You have no
	{% else %}
	You have
	<a href="/friend_requests">
	{{ pendingfriends_cnt }} 
	{% endif %}
	{% if pendingfriends_cnt == 1%}
	friend request
	{% else %}
	friend requests
	{% endif %}
	</a>
	<br>
	You have {{ friends_cnt }} friends
      </div>
      <div class="col-md-3 col-md-offset-6">
	<form method="GET" action="search_results" class="search-form">
	  <div class="form-group has-feedback">
	    <input type="text" class="srchbr" name="q" id="search" placeholder="Find Friends. . .">
	    <input type="submit" id="srchbtn" value="Search!">  
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>

{% block owncontent %}
{% if friends_cnt == 0 %}

<div class="col-md-4 col-md-offset-4">
 <center><h3><strong> You have no friends!</strong></h3>
 <p> Get friends to find people with similar gaming interests. Use the search bar above to get started.
   </p></center>
</div>
{% endif %}

<div class="container">
  <div class="content visible-lg visible-md visible-sm friendContainer">
    {% for friend in friends %}
    {% if friend.username == user.username %}
    {% else %}
    <div class="col-lg-6 col-md-6 col-sm-12 friend">
      <span id="avatar">
	 <img src=https://pbs.twimg.com/profile_images/3742547688/b8c07bc4fd9a92335e3381d4cc2cef38_400x400.png class="alignleft" style="width:45px;height:45px;margin-right:10px;">
      </span>
      <span id="friendName">
	{{ friend.username }}
      </span>
      <span id="mapLink" class="btn">
	Map
      </span>
      <span id="friendListLink" class="btn">
	Friends
      </span>
    </div>    
  </div>
  {% endif %}
  {% endfor %}

  {% for friend in friends %}
  {% if friend.username == user.username %}
  {% else %}
  <div class="content visible-xs" style="padding-bottom:2em">
    <div class="col-lg-1 col-centered friend">
      <span id="avatar">
	<img src=https://pbs.twimg.com/profile_images/3742547688/b8c07bc4fd9a92335e3381d4cc2cef38_400x400.png class="alignleft" style="width:45px;height:45px;margin-right:10px;">
      </span>
      <span id="friendName">
	{{ friend.username }}
      </span>
      <span id="mapLink" class="btn">
	Map
      </span>
      <span id="friendListLink" class="btn">
	Friends
      </span>
    </div>    
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock owncontent %}
{% endblock content %}
